<div id="widgets" class="page-layout simple fullwidth doc-page">
    <!-- CONTENT -->
    <div class="content">

        <div layout="row">

            <div class="form-wrapper md-whiteframe-1dp" flex="50">
                <form name="formCallDetailRecord" class="md-inline-form" novalidate>
                    <div class="form-title">Realizar Llamada</div>
                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <label>Tipo de Llamada </label>
                            <md-select ng-model="vm.callDetailRecord.typeCall.id" ng-required>
                                <md-option ng-repeat="typeCall in vm.typeCalls" ng-value="{{typeCall.id}}">
                                    {{typeCall.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row">
                        <md-input-container flex>
                            <label>Origen</label>
                            <md-select ng-model="vm.callDetailRecord.from.id" ng-required>
                                <md-option ng-repeat="from in vm.phones" ng-value="{{from.id}}" >
                                    {{from.country.codeArea + ' ' + from.phone}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Destino</label>
                            <md-select ng-model="vm.callDetailRecord.to.id" ng-required="true">
                                <md-option ng-repeat="to in vm.phones" ng-value="{{to.id}}" >
                                    {{to.country.codeArea + ' ' + to.phone}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row">
                        <md-input-container flex>
                            <label>Duración de la llamada</label>                            
                        </md-input-container>
                        <md-input-container flex>
                            <timer interval="1000" autostart="false">{{minutes}} minuto{{minutesS}}, {{seconds}} segundo{{secondsS}}.</timer>
                        </md-input-container>
                    </div>
                    <md-button type="button" ng-click="vm.startTimer()" class="md-raised md-accent" 
                               ng-disabled="formCallDetailRecord.$invalid || formCallDetailRecord.$pristine || vm.timerRunning">
                        Llamar
                    </md-button>

                    <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                               ng-click="vm.saveCallDetailRecord()" ng-disabled="(formCallDetailRecord.$invalid || formCallDetailRecord.$pristine) || !vm.timerRunning">
                        Finalizar
                    </md-button>
                </form>
            </div>
            <div class="form-wrapper md-whiteframe-1dp" flex="50">
                <form name="formPhoneRecharge" class="md-inline-form" novalidate>
                    <div class="form-title">Realizar Recarga</div>
                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <label>Moneda </label>
                            <md-select ng-model="vm.phoneRecharge.currency.id" ng-required>
                                <md-option ng-repeat="currency in vm.currencys" ng-value="{{currency.id}}">
                                    {{currency.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row">
                        <md-input-container flex>
                            <label>Destino</label>
                            <md-select ng-model="vm.phoneRecharge.phone.id" ng-required>
                                <md-option ng-repeat="phone in vm.phones" ng-value="{{phone.id}}" >
                                    {{phone.country.codeArea + ' ' + phone.phone}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Valor</label>
                            <input ng-model="vm.phoneRecharge.val" type="number" min="1.0" step="1.0" ng-required>
                        </md-input-container>
                    </div>

                    <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                               ng-click="vm.savePhoneRecharge()" ng-disabled="formPhoneRecharge.$invalid || formPhoneRecharge.$pristine">
                        Enviar
                    </md-button>
                </form>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>